  --color-ai: rgba(109,74,255,1);
  --color-ai-bg: rgba(244,241,255,1);
  --color-ai-border: rgba(226,219,255,1);
  --color-avatar-bg: rgba(47,58,40,1);
  --color-bg-expanded: rgba(247,248,245,1);
  --color-bg-page: rgba(245,244,241,1);
  --color-bg-subtle: rgba(242,243,240,1);
  --color-bg-table-header: rgba(250,251,249,1);
  --color-black: rgba(0,0,0,1);
  --color-border: rgba(230,232,227,1);
  --color-border-control: rgba(39,39,42,0.15);
  --color-border-sidebar: rgba(228,228,231,1);
  --color-border-tabs: rgba(216,218,213,1);
  --color-brand-dark: rgba(72,68,62,1);
  --color-danger: rgba(194,65,12,1);
  --color-danger-bg: rgba(254,236,231,1);
  --color-rail-active: rgba(42,42,46,1);
  --color-rail-bg: rgba(17,17,19,1);
  --color-rail-text: rgba(161,161,170,1);
  --color-sidebar-active: rgba(23,25,19,0.1);
  --color-sidebar-text: rgba(24,24,27,1);
  --color-status-scheduled-bg: rgba(196,225,159,1);
  --color-success: rgba(77,139,34,1);
  --color-success-bg: rgba(238,246,232,1);
  --color-surface: rgba(255,255,255,1);
  --color-text-breadcrumb-current: rgba(135,135,135,1);
  --color-text-heading: rgba(37,36,36,1);
  --color-text-meta: rgba(66,66,66,1);
  --color-text-muted: rgba(75,75,75,1);
  --color-text-primary: rgba(27,29,26,1);
  --color-text-secondary: rgba(107,112,104,1);
  --color-warning: rgba(180,83,9,1);
  --color-warning-bg: rgba(255,244,229,1);
  --c-000000-a004: rgba(0,0,0,0.04);
  --c-000000-a005: rgba(0,0,0,0.05);
  --c-000000-a008: rgba(0,0,0,0.08);
  --c-000000-a015: rgba(0,0,0,0.15);
  --c-000000-a02: rgba(0,0,0,0.2);
  --c-111115: rgba(17,17,21,1);
  --c-12191a-a02: rgba(18,25,26,0.2);
  --c-162225: rgba(22,34,37,1);
  --c-27272a-a0: rgba(39,39,42,0);
  --c-27272a-a006: rgba(39,39,42,0.06);
  --c-27272a-a01: rgba(39,39,42,0.1);
  --c-2b2b2b: rgba(43,43,43,1);
  --c-2f5e9e: rgba(47,94,158,1);
  --c-4e4e56: rgba(78,78,86,1);
  --c-4f8f1f: rgba(79,143,31,1);
  --c-666666: rgba(102,102,102,1);
  --c-6aad35: rgba(106,173,53,1);
  --c-7cc242: rgba(124,194,66,1);
  --c-b5560d: rgba(181,86,13,1);
  --c-b9beb4: rgba(185,190,180,1);
  --c-cfe7b8: rgba(207,231,184,1);
  --c-d0d7d5: rgba(208,215,213,1);
  --c-d5ccff: rgba(213,204,255,1);
  --c-d9d4c8: rgba(217,212,200,1);
  --c-ddd8cd: rgba(221,216,205,1);
  --c-e3e0d8: rgba(227,224,216,1);
  --c-e6e6ea: rgba(230,230,234,1);
  --c-e8e4dc: rgba(232,228,220,1);
  --c-eaf1fb: rgba(234,241,251,1);
  --c-ececec: rgba(236,236,236,1);
  --c-eed6af: rgba(238,214,175,1);
  --c-eef7e6: rgba(238,247,230,1);
  --c-f2f2f4: rgba(242,242,244,1);
  --c-f4f4f5: rgba(244,244,245,1);
  --c-f7f7f8: rgba(247,247,248,1);
  --c-fcfcfc: rgba(252,252,252,1);
  --c-fff5e5: rgba(255,245,229,1);
  --c-ffffff-a045: rgba(255,255,255,0.45);